    <mtapp:setting
        id="check_delicious"
        label="<__trans phrase="Check del.icio.us">">
    <ul>
    <li><label><input type="checkbox" <mt:if name="check_delicious">checked="checked"</mt:if> name="check_delicious" id="check_delicious" /> <__trans phrase="Check"></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="check_hatena"
        label="<__trans phrase="Check Hatena BookMark">">
    <ul>
    <li><label><input type="checkbox" <mt:if name="check_hatena">checked="checked"</mt:if> name="check_hatena" id="check_hatena" /> <__trans phrase="Check"></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="check_livedoor"
        label="<__trans phrase="Check Livedoor clip">">
    <ul>
    <li><label><input type="checkbox" <mt:if name="check_livedoor">checked="checked"</mt:if> name="check_livedoor" id="check_livedoor" /> <__trans phrase="Check"></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="check_yahoo"
        label="<__trans phrase="Check Yahoo! BookMark">">
    <ul>
    <li><label><input type="checkbox" <mt:if name="check_yahoo">checked="checked"</mt:if> name="check_yahoo" id="check_yahoo" /> <__trans phrase="Check"></label></li>
    </ul>
    </mtapp:setting>
    <mtapp:setting
        id="check_buzzurl"
        label="<__trans phrase="Check Buzzurl">">
    <ul>
    <li><label><input type="checkbox" <mt:if name="check_buzzurl">checked="checked"</mt:if> name="check_buzzurl" id="check_buzzurl" /> <__trans phrase="Check"></label></li>
    </ul>
    </mtapp:setting>